<div class="card" style="width: 18rem;">
  <img src="{{image_url}}" width="200" class="card-img-top" alt="..." />
  <div class="card-body text-center">
    <a href="/item/{{id}}"> <h3>{{title}}</h3> </a>
    <p class="card-text"> {{item_description}} </p>
    <span>Posted on ({{format_date created_at}}) </span>
    <h5>by {{user.username}}</h5>
    
  </div>
</div>