<div class="card mt-4 mb-5">
  <img class="card-img-top" src="{{image_url}}" alt="Card image cap" />
  <div class="card-body">
    <a href="/item/{{id}}"><h4 class="card-title">{{item.title}}</h4></a>
    <p class="card-text"> {{item_description}} </p>
    <span>Posted on ({{format_date created_at}}) </span>
    <h5>by {{user.username}}</h5>
    <div class="card-footer text-center">
      <button class="btn btn-outline-secondary" type="button">Make a offer
        <i class="fas fa-envelope"></i></button>
    </div>
  </div>
</div>